# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv/Poetry
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env

# logs, data, cache
*.log
data/voices/*
data/logs/*

# Jupyter
.ipynb_checkpoints/

# その他
*.swp
*.swo

# poetry lockファイル
poetry.lock
